<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Team3.Properties.Settings.inew2330fa21ConnectionString"
            connectionString="Data Source=cstnt.tstc.edu;Initial Catalog=inew2330fa21;Persist Security Info=True;User ID=group3fa212330;Password=3954755"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>